@font-face {
    font-family: 'EK Modena';
    src: url('../font/ek/EKModena-Heavy.eot');
    src: local('EK Modena Heavy'), local('EKModena-Heavy'),
        url('../font/ek/EKModena-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/ek/EKModena-Heavy.woff2') format('woff2'),
        url('../font/ek/EKModena-Heavy.woff') format('woff'),
        url('../font/ek/EKModena-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EK Modena';
    src: url('../font/ek/EKModena-HeavyItalic.eot');
    src: local('EK Modena Heavy Italic'), local('EKModena-HeavyItalic'),
        url('../font/ek/EKModena-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/ek/EKModena-HeavyItalic.woff2') format('woff2'),
        url('../font/ek/EKModena-HeavyItalic.woff') format('woff'),
        url('../font/ek/EKModena-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}