.card-header,
.card-body {
    background: #000;
}

.card {
    background: transparent;
}

.card-header {
    mix-blend-mode: multiply;
}

.card-header h2 {
    text-transform: uppercase;
    font-family: 'EK Modena', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}
