.card,
.card-header,
.card-body {
    background: #000;
}

.card-header h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-family: '911_porscha_semi-italicSIt', sans-serif;
    font-size: 2rem;
}
