.logo-wrap {
    background: #000;
}
#logo {
    font-size: 3.5rem;
    font-family: 'EK Modena', sans-serif;
    font-weight: 900;
}
@media (max-width: 768px) {
    #logo {
        font-size: 1.5rem;
        padding: .75rem 1.5rem !important;
    }
}
.gradient-hover:hover,
#logo:hover {
    color: #A02D0A;
    background: linear-gradient(90deg, rgba(248,234,31,1) 12.5%, rgba(229,28,32,1) 37.5%, rgba(129,28,97,1) 67.5%, rgba(59,109,180,1) 87.5%);
    padding-right: .125em;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s 0s cubic-bezier(.25,.46,.45,.94);
}

.lines {
    width: 5em;
    height: 2.25em;
}

.lines i {
    width:.5em;
    height: 100%;
    background: #fff;
    margin-right: .75em;
    transform: skew(-30deg, 0deg);
}

.lines i:nth-child(1) { width: .375em; }
.lines i:nth-child(2) { width: .5em; }
.lines i:nth-child(3) { width: .625em; }
.lines i:nth-child(4) { width: .75em; }
.lines i:nth-child(5) { width: .875em; }
